<% include partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <main class="container">
        <!--   <h1>Johanna Ponce</h1>
        <p>Welcome to
            <%= title %>
        </p>
-->


        <!--
        <div class="jumbotron">
            <h1><%= title %></h1>
            <hr class="featurette-divider">
            <br>
            <p class="lead">
                <%= msg %>
            </p>

        </div>
        
        -->

        <div class="jumbotron">
            <h1><%= title %></h1>
            <hr class="featurette-divider">
            <br>
            <p class="lead">

            </p>

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                    <p class="text-muted">
                        <%= msg %>
                    </p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-circle img-circle" src="<%= img %>" alt="main_photo" width="200" height="200">
                </div>
            </div>
        </div>


    </main>


<!--  <img class="featurette-image img-responsive center-block" src="/images/Johanna_photo.jpg"" alt="main_photo" width="140" height="140"> -->
 <!-- <img class="img-circle" src="/images/project1_s.png" alt="slotMachine_img" width="140" height="140"> -->

    <% include partials/footer.ejs %>